<!DOCTYPE html>
<!--[if IE 8 ]>    <html dir="ltr" lang="en-US" class="no-js ie8 oldie"> <![endif]-->
<!--[if IE 9 ]>    <html dir="ltr" lang="en-US" class="no-js ie9 oldie"> <![endif]-->
<!--[if (gte IE 9)|(gt IEMobile 7)|!(IEMobile)|!(IE)]><!--><html dir="ltr" lang="en-US" class="no-js"><!--<![endif]-->
<head>
<!--
               ```````````  ```````````       ```             ```         .+@@'
               @@@@@@@@@@@  @@@@@@@@@@@.      @@@             @@@       ;@@@@@@@@`
               @@@@@@@@@@@  @@@@@@@@@@@.      @@@             @@@      ;@@@@@@@@@@,
                       @@@          @@@.      @@@             @@@      @@@`    ;@@@
                       @@@          @@@.      @@@             @@@      @@@      +@@,
                       @@@          @@@.      @@@             @@@      @@@       @@#
                       @@@          @@@.      @@@             @@@      @@@@`
                 @@@@@@@@@          @@@.      @@@@            @@@      +@@@@@@@#`
                 @@@@@@@@@          @@@.     @@@@@,           @@@       '@@@@@@@@@
                 @@@@@@@@@          @@@.    :@#@@@@           @@@         .#@@@@@@@
                       @@@          @@@.    @@@ #@@@          @@@              #@@@
                       @@@          @@@.   @@@+  @@@`         @@@      @@@      @@@
                       @@@          @@@.  `@@@   .@@@         @@@      @@@      @@@
               ````````@@@          @@@.  @@@`    @@@+  ``````@@@````` :@@@`   '@@@
               @@@@@@@@@@@          @@@. +@@@      @@@  +@@@@@@@@@@@@@; @@@@@@@@@@
               @@@@@@@@@@@          @@@. @@@       ;@@@ +@@@@@@@@@@@@@;  +@@@@@@@
                                                                            .,`


@@@@@@@@@@@@@@. @@@       '@@; '@@@@@@@@@,    @@@:      :@@.
@@@@@@@@@@@@@@. @@@       '@@; '@@@@@@@@@@@   @@@@      :@@.
@@@@@@@@@@@@@@. @@@       '@@; '@@#++++@@@@@  @@@@@     :@@.
      @@@       @@@       '@@; '@@;      @@@  @@@@@+    :@@.
      @@@       @@@       '@@; '@@;      @@@. @@@@@@`   :@@.
      @@@       @@@       '@@; '@@;      @@@` @@@:@@@   :@@.
      @@@       @@@       '@@; '@@;      @@@  @@@ @@@@  :@@.
      @@@       @@@       '@@; '@@+;;;'@@@@;  @@@  @@@, :@@` +@@@@@@@@@@@@@@@@@@@@@:
      @@@       @@@       '@@; '@@@@@@@@@@    @@@  `@@@ :@@. +@@@@@@@@@@@@@@@@@@@@@:
      @@@       @@@       +@@; '@@@@@@@@@@#   @@@   '@@@:@@.
      @@@       @@@.      #@@: '@@;     @@@:  @@@    @@@@@@.
      @@@       +@@@      @@@  '@@;     `@@@  @@@     @@@@@.
      @@@        @@@`    :@@@  '@@;      @@@  @@@     .@@@@.
      @@@        @@@@@+#@@@@:  '@@;      @@@  @@@      #@@@.
      @@@         @@@@@@@@@+   '@@;      @@@  @@@       @@@.
      @@@          `@@@@@#     '@@;      #@@' @@@        @@.
-->

	<!-- Google Tag Manager -->
	<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
	new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
	j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
	'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
	})(window,document,'script','dataLayer','GTM-K72QBZ');</script>
	<!-- End Google Tag Manager -->
	<meta charset="utf-8" />
	<title>{% if entry.title != "Turnstyle" %}{{ entry.title }} | Turnstyle{% else %}Turnstyle{% endif %}</title>
	<link rel="home" href="{{ siteUrl }}" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="description" content="{% if entry.metaDescription != '' %}{{ entry.metaDescription }}{% else %}{{ global.metaDescription }}{% endif %}"/>
	<link href="{{ entry.url }}" rel="canonical" />
	<link rel="apple-touch-icon" sizes="180x180" href="/_ui/img/favicon/apple-touch-icon.png">
	<link rel="icon" type="image/png" href="/_ui/img/favicon/favicon-32x32.png" sizes="32x32">
	<link rel="icon" type="image/png" href="/_ui/img/favicon/favicon-16x16.png" sizes="16x16">
	<link rel="manifest" href="/_ui/img/favicon/manifest.json">
	<link rel="mask-icon" href="/_ui/img/favicon/safari-pinned-tab.svg" color="#3c00ff">
	<meta name="apple-mobile-web-app-title" content="TURNSTYLE">
	<meta name="application-name" content="TURNSTYLE">
	<meta name="theme-color" content="#3c00ff">

	<meta property="og:title" content="Turnstyle"/>
	<meta property="og:description" content="Turnstyle is a full-service creative agency with offices in Seattle and Portland. A dedicated team of designers, strategists, developers and account specialists, they create highly-crafted brand experiences that clarify purpose, encourage action, and inspire brand loyalty."/>
	<meta property="og:url" content="http://turnstyle.studio"/>
	<meta property="og:site_name" content="Turnstyle"/>
	<meta property="og:type" content="website"/>
	<meta property="og:image" content="http://turnstyle.studio/_ui/img/global/turnstyle-studio.jpg">

	<meta name="twitter:card" content="summary">
	<meta name="twitter:site" content="@turnstylestudio">
	<meta name="twitter:title" content="Turnstyle">
	<meta name="twitter:description" content="Turnstyle is a full-service creative agency with offices in Seattle and Portland. A dedicated team of designers, strategists, developers and account specialists, they create highly-crafted brand experiences that clarify purpose, encourage action, and inspire brand loyalty.">
	<meta name="twitter:image:src" content="http://turnstyle.studio/_ui/img/global/turnstyle-studio.jpg">
	<meta name="twitter:domain" content="turnstyle.studio">

	{# Test to see if we're in dev mode... #}
	{% if craft.config.devMode %}
		{# If so, provide concatonated, header CSS/JS files #}
		<link rel="stylesheet" href="/_ui/compiled/main.css" type="text/css" media="all">
		<script src="/_ui/compiled/header-scripts.js"></script>
	{% else %}
		{# If not, provide concatonated, minified/uglified header CSS/JS files #}
		<link id="stylesheet" rel="stylesheet" href="/_ui/dist/main.min.2018226-1519687373948.css" type="text/css" media="all">
		<script id="header-scripts" src="/_ui/dist/header-scripts.min.2018226-1519687373948.js"></script>
	{% endif %}

	<script async type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCFWOs5eTJUYM0b0UhAJ0nAHzfEg2oFE44"></script>
</head>

<body class="preload {% if entry is defined %}{{ entry.getType() }}{% endif %} {{ craft.request.getSegment(1) }} {{ craft.request.getSegment(2) }} {% if craft.request.getSegment(1) == '' %} homepage{% endif%}">
	<!-- Google Tag Manager (noscript) -->
	<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-K72QBZ"
	height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
	<!-- End Google Tag Manager (noscript) -->
	<div id="container">
		<header id="header" class="">
			<a href="#" class="logo" title="Open Navigation">
				<svg version="1.1" id="Layer_1" class="" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 81.8 33.8" style="enable-background:new 0 0 81.8 33.8;" xml:space="preserve">
					<g><g><g>
						<path class="text turn" d="M5.4,33.5V20.8l-5.4,0l0-2.5l13.8,0v2.5l-5.4,0v12.7L5.4,33.5z"/>
						<path class="text turn" d="M15.6,27.6v-9.3l3,0v9c0,2.6,1.1,4,3.5,4c2.4,0,3.5-1.3,3.5-4v-9l3,0v9.3c0,4.4-2.9,6.2-6.5,6.2C18.4,33.8,15.6,32,15.6,27.6z"/>
						<path class="text turn" d="M40.3,33.5c-0.3-0.4-0.5-1.4-0.6-3.1c-0.1-1.7-0.9-2.5-2.6-2.5l-3.6,0v5.6l-3,0V18.3l6.9,0c3.9,0,5.8,1.8,5.8,4.6c0,2.3-1.5,3.6-3.3,3.9c1.7,0.3,2.6,1.3,2.8,3.1c0.2,2.2,0.3,3,0.8,3.6L40.3,33.5z M37,25.5c2.2,0,3.2-0.7,3.2-2.4c0-1.5-1-2.4-3.2-2.4l-3.5,0v4.8L37,25.5z"/>
						<path class="text turn" d="M55.1,28.4V18.3l2.8,0v15.2l-2.4,0l-7.8-10.7v10.7l-2.8,0V18.3l3,0L55.1,28.4z"/>
						<path class="text turn" d="M59.9,24.9l21.6,0v2l-21.6,0V24.9z"/>
					</g><g>
						<path class="text style" d="M79,5.8c-0.1-2.4-1.8-3.4-4-3.4c-1.9,0-3.1,0.7-3.1,2c0,1.2,0.9,1.6,2.5,1.9l2.9,0.5c2.4,0.4,4,1.7,4,4.2c0,2.8-2.2,4.7-5.8,4.7c-4,0-6.2-2-6.3-5.4l2.8-0.1c0.1,2.1,1.4,3.2,3.5,3.2c1.8,0,2.8-0.8,2.8-2.1c0-1.1-0.8-1.5-2.2-1.8L73.4,9c-3-0.6-4.4-2-4.4-4.4c0-3,2.6-4.6,6-4.6c3.9,0,6.7,2,6.7,5.7L79,5.8z"/>
						<path class="text style" d="M63.4,0.3V13h5.4v2.5H55V13h5.4V0.3H63.4z"/>
						<path class="text style" d="M42.5,15.5h-3.3l5.9-9.3V0.3h2.9v5.9l5.9,9.3h-3.3L46.5,9L42.5,15.5z"/>
						<path class="text style" d="M35.3,15.5V2.8h-8V0.3h11v15.2H35.3z"/>
						<path class="text style" d="M14.1,0.3l11.3,0v15.2H14.3V13h8.2V9.3h-6.4V6.8h6.4v-4h-8.4V0.3z"/>
					</g></g></g>
				</svg>
			</a>
		</header>

		<div id="nav-overlay" class="nav-overlay">
			<time id="current-widget">
				<p class="large med">
					<span>{{ now.month }} &mdash;{{ now.day }}</span>
					<span>&mdash; {{ now.year }}</span>

					<span class="time"></span>
					<span class="mid"></span>
					<span class="weather-desc"></span>
					<span class="weather-temp"></span>
				</p>
			</time>

			{% cache globally %}
				<nav>
					<ul>
						<li><a href="/work" class="h1 nav" title="Navigate to Work Portfolio">Work</a></li>
						<li><a href="/overview" class="h1 nav" title="Navigate to Studio Overview">Studio</a></li>
						<li><a href="/contact" class="h1 nav" title="Navigate to Contact Details">Contact</a></li>
						<li><a href="/journal" class="h1 nav" title="Navigate to Journal">Journal</a></li>
					</ul>
				</nav>
			{% endcache %}

			<div class="nav-hover">
				{% set work = global.workHoverImage.first() %}
				<img src="{{ work.url }}" class="work" alt="{{ work.title }}" />
				{% set studio = global.studioHoverImage.first() %}
				<img src="{{ studio.url }}" class="studio" alt="{{ studio.title }}" />
				{% set contact = global.contactHoverImage.first() %}
				<img src="{{ contact.url }}" class="contact" alt="{{ contact.title }}" />
				{% set journal = global.journalHoverImage.first() %}
				<img src="{{ journal.url }}" class="journal" alt="{{ journal.title }}" />
			</div>

			<div class="latest">
				<h2 class="details">The Latest</h2>
				{% set journal = craft.entries.section('journalArticles').ids() %}
				{% set work = craft.entries.section('workArticles').ids() %}
				{% set combined = journal|merge(work) %}
				{% set entries = craft.entries.id(combined).limit(5) %}

				<ul>
					{% for entry in entries %}
						<li>
							<a href="{{ entry.url }}" class="nav">
								<p>
									<span class="section">{% if entry.section == 'Journal Articles' %}JOURNAL{% else %}WORK{% endif %} — {{ entry.postDate.format('m/Y') }}</span>
									<span class="title">{{ entry.title }}</span>
								</p>
							</a>
						</li>
					{% endfor %}
				</ul>
			</div>

			{% cache globally %}
				<footer class="footer">
					<ul>
						<li><a href="https://twitter.com/turnstylestudio" title="Twitter" target="_blank"><span class="icon-twitter"></span></a></li>
						<li><a href="https://www.facebook.com/turnstyledesign" title="Facebook" target="_blank"><span class="icon-facebook"></span></a></li>
						<li><a href="https://www.instagram.com/turnstylestudio/" title="Instagram" target="_blank"><span class="icon-instagram"></span></a></li>
					</ul>
					<p class="email details"><a href="mailto:info@turnstyle.studio">info@turnstyle.studio</a></p>
				</footer>
			{% endcache %}

			<div class="progress"></div>
		</div>

		<main role="main" class="js-main cd-content">
			{% block content %}
				<p>If you see me, you haven’t set your <code>{% verbatim %}{% block content %}…{% endblock %}{% endverbatim %}</code> yet.</p>
				<p>See Twig’s <a href="http://twig.sensiolabs.org/doc/templates.html#template-inheritance">Template Inheritance</a> documentation for an explanation.</p>
			{% endblock %}
		</main>
	</div>

	{% cache globally %}
		<section id="ss" style="display: none;">
			<ul id="ss1" class="ss-row owl-carousel">
				<img src="/_ui/img/ss/1.svg" alt="Web Design" />
				<img src="/_ui/img/ss/2.svg" alt="Graphic Design" />
				<img src="/_ui/img/ss/3.svg" alt="Web Development" />
				<img src="/_ui/img/ss/4.svg" alt="Interactive Development" />
				<img src="/_ui/img/ss/5.svg" alt="Information Design" />
				<img src="/_ui/img/ss/6.svg" alt="Seattle Design" />
				<img src="/_ui/img/ss/7.svg" alt="Seattle Design Firm" />
				<img src="/_ui/img/ss/8.svg" alt="Seattle Design Agency" />
				<img src="/_ui/img/ss/9.svg" alt="Strategy" />
				<img src="/_ui/img/ss/10.svg" alt="Identity" />
				<img src="/_ui/img/ss/11.svg" alt="Digital" />
				<img src="/_ui/img/ss/12.svg" alt="Packaging" />
				<img src="/_ui/img/ss/13.svg" alt="Environment" />
				<img src="/_ui/img/ss/14.svg" alt="Strategy Design" />
				<img src="/_ui/img/ss/15.svg" alt="Identity Design" />
				<img src="/_ui/img/ss/16.svg" alt="Digital Design" />
				<img src="/_ui/img/ss/17.svg" alt="Package Design" />
				<img src="/_ui/img/ss/18.svg" alt="Environment Design" />
			</ul>
			<ul id="ss2" class="ss-row owl-carousel ss-rtl">
				<img src="/_ui/img/ss/18.svg" alt="Seattle Creative Agency" />
				<img src="/_ui/img/ss/17.svg" alt="Website Development" />
				<img src="/_ui/img/ss/16.svg" alt="" />
				<img src="/_ui/img/ss/15.svg" alt="" />
				<img src="/_ui/img/ss/14.svg" alt="" />
				<img src="/_ui/img/ss/13.svg" alt="" />
				<img src="/_ui/img/ss/12.svg" alt="" />
				<img src="/_ui/img/ss/11.svg" alt="" />
				<img src="/_ui/img/ss/10.svg" alt="" />
				<img src="/_ui/img/ss/9.svg" alt="" />
				<img src="/_ui/img/ss/8.svg" alt="" />
				<img src="/_ui/img/ss/7.svg" alt="" />
				<img src="/_ui/img/ss/6.svg" alt="" />
				<img src="/_ui/img/ss/5.svg" alt="" />
				<img src="/_ui/img/ss/4.svg" alt="" />
				<img src="/_ui/img/ss/3.svg" alt="" />
				<img src="/_ui/img/ss/2.svg" alt="" />
				<img src="/_ui/img/ss/1.svg" alt="" />
			</ul>
			<ul id="ss3" class="ss-row owl-carousel ss-ltr">
				<img src="/_ui/img/ss/10.svg" alt="" />
				<img src="/_ui/img/ss/11.svg" alt="" />
				<img src="/_ui/img/ss/12.svg" alt="" />
				<img src="/_ui/img/ss/13.svg" alt="" />
				<img src="/_ui/img/ss/14.svg" alt="" />
				<img src="/_ui/img/ss/15.svg" alt="" />
				<img src="/_ui/img/ss/16.svg" alt="" />
				<img src="/_ui/img/ss/17.svg" alt="" />
				<img src="/_ui/img/ss/18.svg" alt="" />
				<img src="/_ui/img/ss/1.svg" alt="" />
				<img src="/_ui/img/ss/2.svg" alt="" />
				<img src="/_ui/img/ss/3.svg" alt="" />
				<img src="/_ui/img/ss/4.svg" alt="" />
				<img src="/_ui/img/ss/5.svg" alt="" />
				<img src="/_ui/img/ss/6.svg" alt="" />
				<img src="/_ui/img/ss/7.svg" alt="" />
				<img src="/_ui/img/ss/8.svg" alt="" />
				<img src="/_ui/img/ss/9.svg" alt="" />
			</ul>
			<ul id="ss4" class="ss-row owl-carousel ss-rtl">
				<img src="/_ui/img/ss/9.svg" alt="" />
				<img src="/_ui/img/ss/8.svg" alt="" />
				<img src="/_ui/img/ss/7.svg" alt="" />
				<img src="/_ui/img/ss/6.svg" alt="" />
				<img src="/_ui/img/ss/5.svg" alt="" />
				<img src="/_ui/img/ss/4.svg" alt="" />
				<img src="/_ui/img/ss/3.svg" alt="" />
				<img src="/_ui/img/ss/2.svg" alt="" />
				<img src="/_ui/img/ss/1.svg" alt="" />
				<img src="/_ui/img/ss/18.svg" alt="" />
				<img src="/_ui/img/ss/17.svg" alt="" />
				<img src="/_ui/img/ss/16.svg" alt="" />
				<img src="/_ui/img/ss/15.svg" alt="" />
				<img src="/_ui/img/ss/14.svg" alt="" />
				<img src="/_ui/img/ss/13.svg" alt="" />
				<img src="/_ui/img/ss/12.svg" alt="" />
				<img src="/_ui/img/ss/11.svg" alt="" />
				<img src="/_ui/img/ss/10.svg" alt="" />
			</ul>
		</section>
	{% endcache %}

	{# Test to see if we're in dev mode... #}
	{% if craft.config.devMode %}
		{# If so, provide concatonated, header CSS/JS files #}
		<script src="/_ui/compiled/footer-scripts.js"></script>
	{% else %}
		{# If not, provide concatonated, minified/uglified header CSS/JS files #}
		<script id="footer-scripts" src="/_ui/dist/footer-scripts.min.2018226-1519687373948.js"></script>
	{% endif %}
</body>
</html>
